.problemSection {
    padding: 100px 0;
    background-color: #ffffff;
}

.header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pillBadge {
    color: #1a1a1a;
    background-color: #0000;
    border-bottom: 4px solid #fca000;
    /* border-radius: 50px; */
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    /* padding: 6px 20px; */
    font-size: 1rem;
    font-weight: 500;
    display: inline-flex;
}

.title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: -0.01em;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}

.description {
    font-size: 0.95rem;
    color: #4a4a4a;
    line-height: 1.7;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 0.9rem;
    }
}

.contentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

.accordionColumn {
    padding-right: 20px;

    @media (max-width: 992px) {
        padding-right: 0;
    }
}

.columnTitle {
    font-size: 1rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 30px;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordionItem {
    border-bottom: 1px solid #d1d1d1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;

    &:last-child {
        border-bottom: 1px solid #d1d1d1;
    }

    &:first-child {
        border-top: 1px solid #d1d1d1;
    }

    h4 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
        color: #1a1a1a;
        padding: 24px 0;
        transition: all 0.3s ease;
    }

    &.active {
        h4 {
            font-size: 1.25rem;
            font-weight: 700;
            padding: 24px 0 10px;
        }

        .accordionContent {
            margin-bottom: 24px;
        }
    }
}

.accordionContent {
    transition: max-height 0.3s ease, margin-bottom 0.3s ease;

    p {
        margin: 0;
        font-size: 0.9rem;
        color: #444;
        line-height: 1.6;
    }
}

.imageColumn {
    width: 100%;
    height: 100%;
}

.imageWrapper {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    min-height: 450px;
    background-color: #ffffff;

    @media (max-width: 992px) {
        min-height: 400px;
    }
}

.featuredImage {
    width: 100%;
    height: 100%;
    object-fit: contain;

    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}